/*Contact Page*/

.contact-form-container {
  background: #1D7CA1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: grid;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
}

.contact-container h1 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.form-input {
  display: grid;
  grid-template-columns: 1fr;
}

fieldset {
  padding: 10px;
  
}

textarea {
  width: 100%;
  margin-bottom: 2rem;
}